BATCH_SIZE=100
DOCUMENT_K=6

MCP_SERVER_URL=http://mcp-server:8000/mcp
MODEL=google/gemma-4-31b-it
# MODEL=openai/gpt-4o
MODEL_WEB=perplexity/sonar
OPENROUTER_API_KEY=sk-or-v1-your-openrouter-api-key
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_your-langsmith-api-key
LANGSMITH_PROJECT=test
